include ../../../../components/block/b-section/index

+b-head({
    className: 'b-head--article b-head--align-center',
    title: {
        tag: 'h1',
        size: 'h1',
        text: 'тренды маникюра 2021'
    }
})
.article.content-wrap
  .row.justify-content-center
    .col-xl-8.col-lg-11.col-12
      .row
        .col-12
          img(src=DB.DIR + 'img/tmp/article-01.jpg', alt='alt')
      p Если вы пристально следите за нейл-трендами, то 2021 год не принесет вам особых откровений. Однако всегда полезно закрепить пройденный материал и взглянуть на знакомые тенденции под другим углом. Обсуждаем красивый дизайн ногтей 2021 — и прикладываем актуальные фото.
      h2 Яркие полоски
      p Маникюр и макияж в духе импрессионистов продолжает будоражить воображение стилистов и визажистов (популярнее сегодня разве что абстракционисты). Советуем не усложнять задачу: вооружитесь разноцветными лаками и маникюрной кистью и повторите образ с показа Pyer Moss. Полтора десятка ярких небрежных мазков, нанесенных вдоль (по росту) ногтевой пластины, не только будут выглядеть стильно и эффектно, но и визуально удлинят пальцы.
      .d-flex
        div
          img(src=DB.DIR + 'img/tmp/article-02.jpg', alt='alt')
        div
          img(src=DB.DIR + 'img/tmp/article-03.jpg', alt='alt')
      h2 Точки
      p Длинные ногти, сужающиеся к кончикам, — один из самых горячих трендов последних лет. И это понятно: с одной стороны, такой маникюр выглядит легкомысленно и непринужденно, а с другой — требует серьезного подхода. Если вы хотите создать дневной маникюр с изюминкой, берите пример с мастеров, работавших на показе Oscar de la Renta. Ногти моделей, накрашенные нежным персиковым лаком, они украсили деликатными белыми точками. Похожий маникюр был замечен и на шоу rag & bone. Проще всего такой образ повторить с помощью доттера (или наших фотоинструкций).
      .row
        .col-lg-4.col-sm-6.col-12
          img(src=DB.DIR + 'img/tmp/article-04.jpg', alt='alt')
        .col-lg-4.col-sm-6.col-12
          img(src=DB.DIR + 'img/tmp/article-05.jpg', alt='alt')
        .col-lg-4.col-sm-6.col-12
          img(src=DB.DIR + 'img/tmp/article-06.jpg', alt='alt')