mixin card-links-4(data)
  .card-links-4(class=data.className)
    .card-links-4__row.row
      each card in data.cards
        .card-links-4__col(class=(data.colClassName ? data.colClassName : 'col-12 col-sm-6 col-lg-4'))
          .card-links-4__card
            a.card-links-4__main-link(href='#')
            if (card.img)
              .card-links-4__img-wrap
                .card-links-4__img-inner
                  img.card-links-4__img(src=DB.DIR + card.img, alt=(card.title || 'alt'))
            .card-links-4__descr
              if (card.title)
                .card-links-4__title !{card.title}
              if (card.text)
                .card-links-4__text !{card.text}
              if (card.link)
                a.card-links-4__link(href='#') !{card.link}